@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
html{
    background: url(./image/camping.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    padding-top: 5em;
    display: flex;
    justify-content: center;
  }

  .logo{
    margin: 0 3% 0 0;
    position: fixed;
    color: #fff;
    font-weight: 500;
    font-size: 50px;
    font-family: Borel;
    bottom: 0;
    right: 0;
  }